.customer-table-row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    border-bottom: 1px solid #f3f4f6;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    transition: background-color 0.15s ease;
}

.customer-table-row:last-child {
    border-bottom: none;
}

.customer-table-row:hover {
    background-color: #f9fafb;
}

.customer-table-row span {
    font-size: 0.875rem;
    color: #111827;
    text-align: center;
}

.customer-table-row .delete-customer-btn {
    outline: none;
    background: none;
    border: none;
    transition: all 0.2s ease-in-out;
}

.customer-table-row .delete-customer-btn:hover {
    outline: none;
    border: 1px solid #ba1c1c;
}