.page-container {
    display: flex;
    width: 100%;
    min-width: 100vw;
}

.content-container {
    padding: 20px;
    width: 100%;
}

.page-title {
    margin-top: 0;
    margin-bottom: 30px;
}

.page-content {
    width: 100%;
}